html {
  overflow-x: hidden;
}
body{
    font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
}
span {
  color: #039d3f;
}
.swiper-navBtn{
  color: black;
  left: 0;
}
.swiper-navBtn1{
  color: black;
  right: 0;
}
.swiper {
  width: 800px;
  height: 400px;
  gap: 10px;
}

.card {
  width: 178px;
  height: 126px;
  border-radius: 20px;
  border: 1px solid #e4e3e3;
  background: #fff;
}
.card-title{
    color: #039d3f;
}
.btn{
    color: #fff;
    background-color: #039d3f;
}
